body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.course-container {
  margin: 0.4em auto;
  padding: 1em;
  display: grid;
  grid-template-columns: auto 40% 5em auto auto auto;
  font-weight: bold;
  background-color: #E5E8E8;
}

ul li:hover {
  background-color: lightgrey;
}

.cart-container {
  display: grid;
  grid-template-colums: 30% auto;
  font-weight: bold;
}